.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.no_margin {
  margin: 0;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 30px 64px;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #f2f2f2;
  /* выше установили ограничения для секции */
}

.logo_place_header {
  width: 228px;
  height: 32px;
  z-index: 99;
}

.header__title {
  max-width: 730px;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
}

.header__subtitle {
  width: 388px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  object-fit: cover;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 1;
}

/* и элемента с модификатором вида ключ-значение */

.description {
  padding: 100px 0;
  display: flex;
  justify-content: center;
}

.two-columns {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  width: 175px;
  padding: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 30px;
  padding: 0;
}

.two-columns__span-accent {
  font-weight: 600;
}

.two-columns__paragraph:last-of-type {
  margin: 0;
}

.digits {
  padding: 100px auto;
}

.section-title {
  margin: auto;
  padding: 0;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
}

.section-subtitle {
  padding: 0;
  width: 60%;
  margin: 20px auto 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.table {
  width: 1100px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  padding: 0;
  margin: 60px 0 0;
  text-align: left;
}

.table__heading {
  margin: 0 0 20px;
  padding: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  margin: 0 0 20px;
  padding: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__cell .table__text:last-of-type {
  margin: 0;
}

.feynman {
  margin: 100px 0 0;
  padding: 0;
  min-height: 890px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  align-items: center;
}

.feynman__title {
  width: 648px;
  margin: 100px 0 70px;
  padding: 0;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  z-index: 2;
  text-align: center;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 2;
  margin: 0;
  padding: 0;
}

.feynman__link {
  margin: 0;
  padding: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  position: absolute;
  top: 50%;
  right: 48px;
  z-index: 1;
}

.feynman__img {
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.kaufman {
  position: relative;
  background-color: #1f1f1f;
  overflow: hidden;
  padding: 90px;
  color: white;
  z-index: -5;
}

.table_theme_dark {
  z-index: 8;
}

.table__cell_theme_dark {
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark {
  z-index: 5;
}
 
.table__text_theme_dark {
  z-index: 5;
}

.kaufman__triangle {
  height: 877px;
  width: 877px;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: -2;
}

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  padding: 60px 0 40px;
  display: flex;
  justify-content: center;
  color: white;
  box-sizing: border-box;
}

.footer__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  width: 228px;
  height: 32px;
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0 5px 20px;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  margin-bottom: 16px;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  padding: 0;
  margin-left: 10px;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
}
